<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template is working</title>
</head>
<body>
<h1> Welcome to text area. Enter your text here</h1>
<form action="/analyze" method="get">
    <textarea name="text" style="margin: 0px; width: 1046px; height: 133px;"></textarea><br>
    <input type="checkbox" name="removepun"> Remove punctuation<br>
    <input type="checkbox" name="fullcaps"> UPPERCASE<br>
    <input type="checkbox" name="newlineremover"> New line remover<br>
    <input type="checkbox" name="extraspaceremover"> Extraspace remover<br>
    <button type="submit"> Analyse text</button>
</form>
</body>
</html>